apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: triton-inference
      spec:
        replicas: 1
        template:
          spec:
            nodeSelector:
              workload: gpu # TODO: change to match your cluster
              # Or: node.kubernetes.io/instance-type: g4dn.xlarge
            containers:
            - name: triton
              resources:
                requests:
                  nvidia.com/gpu: 1
                  cpu: "4"
                  memory: "8Gi"
                limits:
                  nvidia.com/gpu: 1
                  cpu: "8"
                  memory: "16Gi"
