apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - serviceaccount.yaml
  - configmap.yaml
  - deployment.yaml
  - networkpolicy.yaml
  - service.yaml
  - servicemonitor.yaml

namespace: ml-models