apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: triton-inference
      spec:
        replicas: 2
        template:
          spec:
            nodeSelector: 
              workload: cpu-compute
            tolerations: 
            - key: "workload"
              operator: "Equal"
              value: "cpu-compute"
              effect: "NoSchedule"

